<link rel="stylesheet" type="text/css" href="/border/styles/header_style.css">

<header>
    <div id="logo">
        <a href="/">
            <img src="/border/styles/images/logo_rueil_confinement.png" alt="logo rueil confinement">
        </a>
    </div>
    <div id="links">
        <ul>
            <li><a href="/border/chat">Chat Bidon</a></li>
            <li><a href="/border/game">Jeu "Border Border"</a></li>
        </ul>
    </div>
</header>
