<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>Rueil sa maman - Border Border</title>
        <link rel="stylesheet" type="text/css" href="/border/styles/index_style.css">
    </head>

    <body>
        <%- include('header.ejs') -%>
        <div id="main-title">
            <div id="bienvenue">Bienvenu</div>
            <div id="e2">e</div>
            <div class="point">.</div>
            <div id="e4">e</div>
            <div class="point">.</div>
            <div id="s1">s</div>
            <div class="point">.</div>
            <div id="x3">x</div>
        </div>
        <main>
            <ul>
                <li><a href="/border/chat">Direction le chat bidon</a></li>
                <li><a href="/border/game">Direction le jeu "border border"</a></li>
            </ul>


        </main>


    </body>
</html>
