<!DOCTYPE html>

<html>
    <head>
        <title>Rueil sa maman</title>
        <link rel="stylesheet" type="text/css" href="border/styles/not_found_style.css">
    </head>

    <body>
        <%- include('header.ejs') -%>
        <main>
            <div id="introduction">
                <h1 id="intro_title">Bienvenu.e.s.x.t...</h1>
                <h2>Désolé, mais la page que tu demandes n'existe juste pas...</h2>
                <ul>
                    <li><a href="border/chat">Direction le Chat bidon</a></li>
                    <li><a href="border/game">Direction le jeu "Border Border"</a></li>
                </ul>
            </div>
        </main>
    </body>
</html>
